.main-layout {
    align-items: flex-start;
}
.left-aside {
    width: 44rem;
    padding-left: 4rem;
    padding-top: 3rem;
    position: sticky;
    top: 0;
}

.search-block {
    margin-bottom: 4rem;

    form {
        display: block;
        width: 100%;
    }
}

.search-wrapper {
    display: flex;
}

.search__submit {
    width: 4rem;
    height: 4rem;
    flex: none;
    background: url('../img/icons/search.svg') center no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all .3s;
    border: none;
    appearance: none;
}

.search___input {
    flex-grow: 1;
    height: 4rem;
    font-size: 16px;
    font-family: "Circe", sans-serif;
    border: none;
    outline: none;
    appearance: none;
    padding-left: 10px;
    padding-right: 20px;

    &::placeholder {
        font-family: "Circe", sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #929292;
    }
}

.aside__menu {
    padding-right: 4rem;
    &>li {
        margin-bottom: 2.5rem;

        &>a {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;

            &:hover,
            &.active {
                color: var(--blue);
            }
        }

        .submenu {
            font-size: 1.8rem;
            text-transform: uppercase;
            margin-top: 2rem;
            padding-left: 1rem;
            display: none;
            &.active {
                display: block;
            }
            li {
                margin-bottom: 1em;

                a {
                    font-weight: 700;
                    color: var(--blue);

                    &:hover,
                    &.active {
                        color: var(--red)
                    }
                }
            }

            .submenu {
                padding-left: 1rem;
                li {
                    a {
                        display: block;
                        padding-left: 1em;
                        position: relative;
                        text-transform: initial;
                        font-weight: 400;
                        color: #000;

                        &::before {
                            content: '';
                            width: 6px;
                            height: 6px;
                            border-radius: 10px 4px 10px 4px;
                            background-color: currentcolor;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            opacity: 0;
                            transition: opacity .3s;
                        }

                        &:hover,
                        &.active {
                            color: var(--red);

                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.submenu-container {
    &>a {
        padding-right: 15px;
        position: relative;
        display: block;
        &::after {
            content: '';
            width: 6px;
            height: 6px;
            border-right: 1px solid currentColor;
            border-bottom: 1px solid currentColor;
            transform: translateY(-100%) rotate(45deg);
            position: absolute;
            right: 10px;
            top: 50%;
        }
        &.active {
            &::after {
                transform: translateY(-50%) rotate(-135deg);
            }
        }
    }

}

.content {
    width: calc(100% - 44rem);
}
.main-slider {
    .slick-arrow {
        position: absolute;
        width: 4.4em;
        height: 5.3em;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all .3s;
        z-index: 1;
        &:hover {
            opacity: 0.7;
        }
    }
    .prev-arrow {
        left: 4em;
        background-image: url('../img/icons/arrow_left.png');
    }
    .next-arrow {
        right: 4em;
        background-image: url('../img/icons/arrow_right.png');
    }
}
.main-slide__item {
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: url('../img/decor/slide_decor_border.png') 0 0 no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    img {
        width: 100%;
    }
}
.main-slide__item__descr {
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    padding: 2rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    &::after {
        content: '';
        width: calc(100% + 30px);
        height: 100%;
        background-color: rgba(#000, .5);
        transform: skewX(-10deg);
        position: absolute;
        top: 0;
        left: -30px;
    }
    .h4 {
        font-size: 2rem;
        line-height: 1.3;
        position: relative;
        z-index: 1;
    }
}
.top-product-block {
    margin-bottom: 4rem;
}
.top-product__item {
    width: calc(50% - 20px);
    position: relative;
    overflow: hidden;
    line-height: 0;
    line-height: 0;
    &::before {
        content: '';
        width: 20px;
        height: 110%;
        background-color: #fff;
        position: absolute;
        left: -7px;
        top: 0;
        transform: skewX(2deg);
        z-index: 2;
    }
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../img/decor/main_page_pr_decor_border.png') 0 0 no-repeat;
        background-size: 100% 100%;
        z-index: 2;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover {
        opacity: 0.8;
    }
}
.top-product__item__descr {
    position: absolute;
    width: 99%;
    left: 0;
    bottom: 1px;
    line-height: 1.2;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 2rem 1.5rem 30px;
    background-color: rgba(#000, .5);
}
.features-block {
    margin-bottom: 4rem;
    .h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 4rem;
    }
}
.features-wrapper {
    justify-content: space-around;
}
.features__item {
    width: 30%;
    text-align: center;
    .icon {
        height: 10rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 2rem;
        img {
            max-width: 100%;
        }
    }
    .h4 {
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 1.4;
    }
}
.line-through {
    text-decoration: line-through;
    color: var(--gray);
}
.slider {
    margin: 0 -10px;
    .slick-list {
        padding: .5rem 0;
    }
    .slick-track {
        display: flex;
    }
    .slide__item {
        padding: 0 10px;
    }
    .slick-arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all .3s;
        z-index: 1;
        &:hover {
            opacity: 0.7;
        }
    }
    .slick-slide{
        height: auto;
    }
    .slide__item {
        height: 100%;
        .product{
            height: 100%;
        }
    }
    .prev-arrow {
        left: 0;
        background-image: url('../img/icons/arrow_left.png');
        transform: translate(-50%, -50%);
    }
    .next-arrow {
        right: 0;
        background-image: url('../img/icons/arrow_right.png');
        transform: translate(50%, -50%);
    }
}
.actual-product {
    padding: 8rem 8rem 10rem;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 4.5rem;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../img/decor/actual_top_decor.jpg') 0 0 no-repeat;
        background-size: 100% 100%;
    }
    .h2 {
        margin-bottom: .75em;
    }
    p {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: 3rem;
        a{
            white-space: nowrap;
            color: #219ae1;
            &:hover {
                color: var(--red);
            }
        }
    }
}
.main-banner {
    margin-top: -3rem;
    margin-bottom: 5rem;
    position: relative;
    a{
        display: block;
        img {
            width: 100%;
        }
    }
}
.section {
    padding: 5rem 8rem;
}
.section__top {
    .h2 {
        margin-bottom: .75em;
    }
    p {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: 3rem;
        color: #414142;
        a{
            white-space: nowrap;
            color: #219ae1;
            &:hover {
                color: var(--red);
            }
        }
    }
}
.decor-section {
    position: relative;
    padding: 12rem 8rem;

}
.map {
    padding: 10px;
    background: url('../img/decor/decor-border.png') 0 0 no-repeat;
    background-size: 100% 100%;
    height: 44rem;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.text-block {
    h1, h2, h3, h4 {
        color: var(--blue);
        margin-bottom: 0.5em;
    }
    p {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: 3rem;
        color: #414142;
    }
    ul {
        li {
            display: block;
            font-size: 2rem;
            line-height: 1.4;
            margin-bottom: 0.5em;
            color: #414142;
        }
    }
}
.section--map {
    position: relative;
    padding-top: 8rem;
    &::before {
        content: '';
        width: 100%;
        height: 5rem;
        position: absolute;
        left: 0;
        top: -2rem;
        background: url('../img/decor/map_top_decor.png') 0 0 no-repeat;
        background-size: 100% 100%;
    }
}