@font-face {
	font-family: "Circe";
	src: url("../font/Circe-ExtraBold.woff") format("woff");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: "Circe";
	src: url("../font/Circe-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Circe";
	src: url("../font/Circe-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Circe";
	src: url("../font/Circe-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

