/*Footer*/
.footer {
    padding: 10rem 4rem 0;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 12rem;
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/decor/footer_top.jpg') 0 0 no-repeat;
        background-size: 100% 100%;
    }

    &::after {
        content: '';
        width: 100%;
        height: 4.7rem;
        position: absolute;
        left: 0;
        bottom: 0;
        background: url('../img/decor/footer_bottom.jpg') 0 0 no-repeat;
        background-size: 100% 100%;
    }
}

.footer__item {
    width: 22%;

    .h4 {
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2em;
    }
}

.footer__item__line {
    line-height: 1.3;
    font-size: 1.4rem;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    a {
        color: #000;

        &:hover {
            color: var(--red);
        }
    }

    .img-wrapper {
        display: block;
        margin-top: 1rem;
    }
}

.footer__menu {
    font-size: 1.4rem;

    li {
        margin-bottom: 1.5rem;
    }
}

.img-group {
    margin-top: 1rem;

    img {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

.footer__main {
    padding-bottom: 5rem;
}

.footer__bottom {
    padding: 2.5em 0;
    text-align: center;
    font-size: 1.3rem;
    color: #636464;
    border-top: 1px solid #e6eaec;
}