:root{
	--blue: #005586;
	--blue-light: #219ae1;
	--gray: #8c8d8e;
	--gray-dark: #353536;
	--gray-bg: #f6f7f9;
	--red: #c64935;
	--yellow: #fbff00;
}
html, body{
	min-height: 100%;
}
html{
	font-size: 10px;
}
body{
	background-color: #fff;
	color: #000;
	font-family: "Circe", sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}
img{
	max-width: 100%;
}
a{
	color: currentColor;
	transition: all .2s;
}
h1, .h1{
	font-size: 6rem;
}
h2, .h2{
	font-size: 5rem;
}
h3, .h3{
	font-size: 3rem;
}
h4, .h4{
	font-size: 2.4rem;
}
.font-300{
	font-weight: 300;
}
b, strong{
	font-weight: 700;
}
.font-800{
	font-weight: 800;
}
.text-center{
	text-align: center;
}
.text-uppercase{
	text-transform: uppercase;
}
.wrapper{
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
.container{
	padding: 0;
}
.flex{
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
}
.align-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.gray {
	color: var(--gray)
}
.gray-dark {
	color: var(--gray-dark);
}
.red {
	color: var(--red);
}
.blue{
	color: var(--blue);
}
.yellow {
	color: var(--yellow);
}
.svg-sprite{
	display: none;
}
.gray-bg {
	background-color: var(--gray-bg);
}
.yellow-bg {
	background-color: var(--yellow);
}
.show-on-mobile {
	display: none !important;
}
.left-aside__mobile__top,
.submenu__title {
	display: none;
}
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .7);
	z-index: 10;
	display: none;
}







